:root {
    --text-color: #2b2c34;
    --background-gradient-bottom: rgba(251,252,254,1);
    --background-gradient-top: rgb(141,189,212);
    --primary-color: #6246ea;
    --tetiary-color: #e45858;
    --button-success-color: #00ba8c;
}

html {
    color: var(--text-color);
    background: var(--background-gradient-top);
    background: linear-gradient(180deg, var(--background-gradient-top) 0%, var(--background-gradient-bottom) 46%);
    min-height: 100%
}

.button .is-success {
    color: var(--primary-color)
}

.navbar .navbar-brand,.navbar-end,.navbar-start {
    background-color: var(--background-color);
}

.navbar-item img{
    max-height: none;
}

.member-list .card {
    transition: transform .2s;
    width: 8rem;
    background-color: rgba(255, 255, 255, 0);
}

.member-list .card:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 100;
}

.card .card-image figure{
    border: 1px solid var(--secondary-color);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.button.is-success {
    background-color: var(--button-success-color);
}

.page-header {
    max-width: 600px;
}
