:root {
    --text-color: #2b2c34;
    --background-color: #fffffe;
    --primary-color: #6246ea;
    --secondary-color: #d1d1e9;
    --tetiary-color: #e45858;
    --button-success-color: #00ba8c;
}

html {
    color: var(--text-color);
    background: rgb(141,189,212);
    background: linear-gradient(180deg, rgba(141,189,212,1) 0%, rgba(251,252,254,1) 46%);
    min-height: 100%
}

.button .is-success {
    color: var(--primary-color)
}

.navbar .navbar-brand,.navbar-end,.navbar-start {
    background-color: var(--background-color);
}

.navbar-item img{
    max-height: none;
}

.member-list .card {
    width: 8rem;
}

.card .card-image figure{
    border: 1px solid var(--secondary-color);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.button.is-success {
    background-color: var(--button-success-color);
}

.page-header {
    max-width: 600px;
}
