{% extends "base.html" %}

{% block content %}
<section class="section pb-2">
    <div class="container">
        <div class="box has-text-centered">
            <h1 class="title is-1">
                0xdeada1u5
            </h1>
            <p class="subtitle is-5">
                CTF Team, CSD UoC
            </p>
<p class="subtitle is-6 pt-2">
    0xdeada1u5 was founded in 2021, participating as a team on the UniWA 2021 CTF Challenge.
</p>
        </div>
    </div>
</section>
<section class="section py-2">
    <div class="container">
        <div class="box">
            <h1 class="title">Members</h1>
            <div class="columns is-multiline is-mobile is-3 member-list">
                <div class="card column m-3 has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="" src="images/members/dimspith.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">Evangelos Markatos</p>
                    </div>
                </div>
                <div class="card column m-3 has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="" src="images/members/dimspith.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">randomusername</p>
                    </div>
                </div>
                <div class="card column m-3 has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="" src="images/members/dimspith.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">dimspith</p>
                    </div>
                </div>
                <div class="card column m-3 has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="" src="images/members/dimspith.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">verdic</p>
                    </div>
                </div>
                <div class="card column m-3 has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="" src="images/members/dimspith.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">johnarakas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
